In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv("/content/heart.csv")

In [ ]:
df

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [ ]:
df.shape

(303, 14)

In [ ]:
df.size

4242

In [ ]:
df.columns

Index(['age', 'sex', 'cp', 'trtbps', 'chol', 'fbs', 'restecg', 'thalachh',
       'exng', 'oldpeak', 'slp', 'caa', 'thall', 'output'],
      dtype='object')

In [ ]:
df.isnull().sum()

age         0
sex         0
cp          0
trtbps      0
chol        0
fbs         0
restecg     0
thalachh    0
exng        0
oldpeak     0
slp         0
caa         0
thall       0
output      0
dtype: int64

In [ ]:

x=df.iloc[:,0:13]
y=df.iloc[:,13:]

In [ ]:
x

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2

In [ ]:
y

     output
0         1
1         1
2         1
3         1
4         1
..      ...
298       0
299       0
300       0
301       0
302       0

[303 rows x 1 columns]

In [ ]:
x.shape

(303, 13)

In [ ]:

y.shape

(303, 1)

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2,random_state=42)

In [ ]:
xtrain

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall
132,42,1,1,120,295,0,1,162,0,0.0,2,0,2
202,58,1,0,150,270,0,0,111,1,0.8,2,0,3
196,46,1,2,150,231,0,1,147,0,3.6,1,0,2
75,55,0,1,135,250,0,0,161,0,1.4,1,0,2
176,60,1,0,117,230,1,1,160,1,1.4,2,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
188,50,1,2,140,233,0,1,163,0,0.6,1,1,3
71,51,1,2,94,227,0,1,154,1,0.0,2,1,3
106,69,1,3,160,234,1,0,131,0,0.1,1,1,2
270,46,1,0,120,249,0,0,144,0,0.8,2,0,3
102,63,0,1,140,195,0,1,179,0,0.0,2,2,2

In [ ]:

ytrain

     output
132       1
202       0
196       0
75        1
176       0
..      ...
188       0
71        1
106       1
270       0
102       1

[242 rows x 1 columns]

In [ ]:
xtest

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall
179,57,1,0,150,276,0,0,112,1,0.6,1,1,1
228,59,1,3,170,288,0,0,159,0,0.2,1,0,3
111,57,1,2,150,126,1,1,173,0,0.2,2,1,3
246,56,0,0,134,409,0,0,150,1,1.9,1,2,3
60,71,0,2,110,265,1,0,130,0,0.0,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
249,69,1,2,140,254,0,0,146,0,2.0,1,3,3
104,50,1,2,129,196,0,1,163,0,0.0,2,0,2
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3
193,60,1,0,145,282,0,0,142,1,2.8,1,2,3
184,50,1,0,150,243,0,0,128,0,2.6,1,0,3

In [ ]:
ytest

     output
179       0
228       0
111       1
246       0
60        1
..      ...
249       0
104       1
300       0
193       0
184       0

[61 rows x 1 columns]

In [ ]:
print("xtrain",xtrain.shape)
print("ytrain",ytrain.shape)
print("xtest",xtest.shape)
print("ytest",ytest.shape)

xtrain (242, 13)
ytrain (242, 1)
xtest (61, 13)
ytest (61, 1)

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
model = LinearRegression()

In [ ]:
mod=model.fit(xtrain,ytrain)

In [ ]:
y_predict=mod.predict(xtest)
y_predict

array([[ 0.20461609],
       [ 0.62932079],
       [ 0.71803669],
       [ 0.04394647],
       [ 0.93859572],
       [ 0.82919673],
       [ 0.55248505],
       [-0.31123783],
       [-0.12686594],
       [ 0.50190798],
       [ 0.67329639],
       [ 0.22858348],
       [ 0.83576074],
       [ 0.10160178],
       [ 1.1070706 ],
       [ 0.90376346],
       [ 1.08827421],
       [ 0.21347573],
       [-0.14247183],
       [-0.02892816],
       [ 0.60715419],
       [-0.05665451],
       [ 0.35685167],
       [ 0.68434807],
       [ 0.88713565],
       [ 0.60700687],
       [ 0.81935794],
       [ 0.53123747],
       [-0.10013016],
       [ 0.8970951 ],
       [ 0.05884203],
       [ 0.07332101],
       [-0.14826886],
       [ 0.24195448],
       [ 0.69307817],
       [ 0.19714348],
       [ 0.66820272],
       [ 0.77828265],
       [ 0.68233201],
       [ 0.75469071],
       [ 0.49240619],
       [ 0.64012072],
       [ 0.75759582],
       [ 0.67302635],
       [ 0.74556992],
       [-0.1916457 ],
       [ 0.66356747],
       [ 0.91773248],
       [ 0.22766617],
       [-0.00575935],
       [ 0.15521194],
       [-0.13222102],
       [ 0.78206754],
       [ 1.04130301],
       [ 0.33798087],
       [-0.2796243 ],
       [ 0.11850097],
       [ 0.94519132],
       [ 0.01120021],
       [-0.218084  ],
       [ 0.15742582]])

In [ ]:
from sklearn.metrics import accuracy_score,classification_report
from sklearn.metrics import mean_squared_error

In [ ]:
mse = mean_squared_error(ytest, y_predict)

In [ ]:
mse

0.11627071992880016

In [ ]:
from sklearn.metrics import confusion_matrix

In [ ]:
import seaborn as sns